* {
    box-sizing: border-box;
}

:root {
    --border-radius: 5px;
    --line-height: 2;
    --nav-height: 70px;
    --nav-margin: 50px;
    --container-margin: 5vw;
    --container-padding: 30px;
    --section-margin: 100px;
    --project-margin: 80px;
    --news-margin: 35px;
    --background-color: #e1f5f7ef;
    --primary-color: #192968;
    --secondary-color: #343e69;
    --highlight-color: #f9b26e;
    --nav-font-color: white;
    --font-color: var(--secondary-color);
    --box-shadow: 0 0 0 1px var(--highlight-color), 0 2px 3px rgb(0, 0, 0, .2);

}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--font-color);
    font-family: 'Helvetica';
    background-color: var(--background-color);
    line-height: var(--line-height);
    font-weight: 300;
    margin-left: 0;
    margin-right: 0;
}

[id*="-location"] {
    position: relative;
    bottom: calc(var(--nav-height) - var(--section-margin) / 1.5);
}

h1, strong {
    font-weight: 700;
}

h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;	
}

.horizantal-center {
    justify-content: center;
}

.vertical-center {
    align-items: center;
}

.perfect-center {
    justify-content: center;
    align-items: center;
}

.text-align-right {
    text-align: right;
}

.flex-justify-right {
    justify-content: flex-end;
}

.space-around {
    justify-content: space-around;
}

nav {
    color: var(--nav-font-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-image: linear-gradient(to top left, var(--primary-color), var(--secondary-color));
    border-bottom: 1px solid var(--nav-font-color);
    box-shadow: 0px 2px 3px grey;
    z-index: 1;
    padding: 0 calc(var(--container-margin) + var(--container-padding));
}

nav h1 {
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: var(--font-color);
    transition: color .15s ease-out;
}

a:hover {
    color: var(--highlight-color);
}

nav a {
    color: var(--nav-font-color);
}

nav a:hover {
    color: var(--nav-font-color);
}

.nav-items {
    justify-content: space-between;
}

.nav-item {
    font-size: 20px;
    margin-top: 5px;
    transition: color 150ms ease-out;
}

.nav-item:hover {
    color: var(--highlight-color);
}

.nav-item.back-to-home {
    margin-left: auto;
    margin-right: auto;
}

.nav-item::after {
    margin-bottom: 5px;
    content: "";
    position: relative;
    display: block;
    height: 1px;
    background: var(--nav-font-color);
    transform: scaleX(0);
    transition: transform 150ms ease-out, background 150ms ease-out;
}

.nav-item:hover::after {
    transform: scaleX(1);
    background: var(--highlight-color);
}

.nav-item:active {
    position: relative;
    top: 1px;
}

.nav-item:active::after {
    position: relative;
    bottom: 1px;
}

nav h1 a {
    font-size: 35.2px;
    font-weight: bolder;
    border: none;
}

nav h1 a:hover {
    color: var(--nav-font-color);
    border: none;
}

.about-info p:first-of-type {
    margin-top: 0;
}

.about-info p:last-of-type {
    margin-bottom: 0;
}

img {
    border-radius: var(--border-radius);
    box-shadow: 0px 2px 4px grey;
}

#about img {
    width: min(300px,60vw);
    height: 300px;
    object-fit: cover;
}

#about, #project-page {
    margin-top: calc(var(--nav-height) + var(--nav-margin));
    margin-left: calc(var(--container-margin) + var(--container-padding));
    margin-right: calc(var(--container-margin) + var(--container-padding));
    padding: var(--container-padding);
    border-radius: var(--border-radius);
    background-color: white;
    box-shadow: var(--box-shadow);
}

#about {
    margin-bottom: var(--section-margin);
}

#about a, #skills a, #projects .project-info a, #project-details a {
    text-decoration: underline;
}

#about-title {
    line-height: 1.5;
}

#skills, #news, #projects {
    padding-left: calc(var(--container-margin) + var(--container-padding));
    padding-right: calc(var(--container-margin) + var(--container-padding));
}

#skills {
    background-color: white;
    width: 100vw;
    padding-top: var(--section-margin);
}

.skills-header {
    text-align: center;
    margin-bottom: 30px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: calc(var(--section-margin) - 56px);
}

.skill {
    flex: 1 1 30%;
    margin: 0 20px 20px 20px;
    padding: 20px;
    display: inline;
    text-align: center;
    border-style: none;
    border-radius: var(--border-radius);
    line-height: 1;
    max-width: 25%;
    transition: transform .2s ease-out, box-shadow .2s, color .2s ease-out;
}

.skill:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .1), -1px -1px 10px rgba(0, 0, 0, .1);
}

@keyframes icon-spin {
    20%, 100% { transform: rotate(540deg) }
}

@keyframes icon-flip {
    10%, 50%  { transform: scaleX(-1) }
    60%, 100% { transform: scaleX(1) }
}

@keyframes icon-zoom {
    10%       { transform: scale(1.15, 1.15) }
    20%, 100% { transform: scale(1, 1) }
}

@keyframes icon-squish {
    10%       { transform: scale(.85, 1.15) }
    20%, 100% { transform: scale(1, 1) }
}

.icon-spin {
    animation: icon-spin 5s ease-in-out 5s infinite forwards;
}

.icon-flip {
    animation: icon-flip 10s ease-in-out 5s infinite forwards;
}

.icon-zoom {
    animation: icon-zoom 5s ease-in-out 5s infinite forwards;
}

.icon-squish {
    animation: icon-squish 5s ease-in-out 5s infinite forwards;
}

.skill-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: var(--highlight-color);
}

.skill-icon-concatenator {
    font-size: 20px;
    line-height: 20px;
    color: var(--font-color);
    margin: 0 10px;
}

.skill-title {
    text-align: center;
}

.skill-description {
    line-height: var(--line-height);
    margin: 0;
}

#projects {
    width: 100vw;
    padding-top: var(--section-margin);
    padding-bottom: var(--section-margin);
    padding-left: calc(var(--container-margin) + var(--container-padding));
    padding-right: calc(var(--container-margin) + var(--container-padding));
}

#projects-filter label:last-of-type {
    margin-right: 0;
}

#projects-filter label {
    margin-right: 4%;
    cursor: pointer;
}

#projects-filter label:hover {
    color: var(--highlight-color);
}

#projects-filter label a {
    color: inherit;
}

input[type="radio" i] {
    cursor: pointer;
}

#projects img, #project-details img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: auto;
    object-fit: cover;
}

.tag {
    color: darkslategrey;
    border-radius: var(--border-radius);    
    margin-right: 10px;
    padding: 8px;
    text-transform: uppercase;
    font-size: .75em;
    /* box-shadow: var(--box-shadow); */
}

#projects .project {
    margin-top: var(--project-margin);
    padding: var(--container-padding);
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow)
}

#projects .project-info, #project-details .project-info {
    padding-right: 60px;
}

.project-info h1 {
    margin: 0 0 25px;
    line-height: 1.4em;
}

.project-info h3 {
    line-height: 1.4em;
    margin: 0 0 20px;
}

#news {
    background-color: white;
    padding-top: var(--section-margin);
    padding-bottom: var(--section-margin);
}

#news-search-container {
    position: relative;
    margin-bottom: 25px;
}

#news-search-icon {
    position: absolute;
    color: var(--font-color);
    top: 10px;
    left: 15px;
    transition: color .2s ease-out;
}

#news-search {
    font: 300 100% Helvetica;
    border-radius: 50px;
    border-style: none;
    -webkit-appearance: none;
    box-shadow: 0 0 0 1px var(--font-color), 0 2px 3px rgb(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 0 1px var(--font-color), 0 2px 3px rgb(0, 0, 0, .2);
    padding: 10px 10px 10px 40px;
    width: 30%;
    min-width: 175px;
    border-width: 2px;
    transition: width .2s ease-out, box-shadow .2s ease-out;
}

#news-search::placeholder {
    color: var(--font-color);
    opacity: .7;
}

#news-search:focus + #news-search-icon {
    color: var(--highlight-color);
}

#news-search:focus {
    outline: none;
    color: var(--font-color);
    box-shadow: 0 0 0 1px var(--highlight-color), 0 2px 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 0 1px var(--highlight-color), 0 2px 3px rgba(0,0,0,.2);
    width: min(100%, 500px);
}

.news-item {
    display: flex;
    margin-top: var(--news-margin);
}

.news-icon {
    color: var(--highlight-color);
    font-size: 1.3em;
    position: relative;
    top: 5px;
}

.news-text {
    margin-left: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#news-item-toggle {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    padding: 0;
    margin-top: var(--news-margin);
    transition: color .1s;
    font-size: inherit;
}

#news-item-toggle:hover {
    color: var(--highlight-color);
    cursor: pointer!important;
}

#news-item-toggle:focus {
    outline: none;
}

footer {
    display: flex;
    margin: 0 var(--container-margin);
    padding: 30px var(--container-padding) 20px;
    justify-content: space-between;
    align-items: center;
}

.bordered-footer {
    border-top: 2px solid black;
}

.footer-icons {
    display: flex;
    width: 10vw;
    justify-content: space-between;
}

footer a {
    margin-left: 4%;
    text-align: right;
}

section h1 {
    margin-top: 0;
}

/* Project Page Styles, except for anything above that uses #project-detials */

#project-page {
    margin-bottom: var(--nav-margin);
}

#project-details {
    margin-top: 0;
}

#project-details h1 {
    margin-top: 0;
}

/* Device Specific Styles */

@media screen and (min-width: 935px) {
    .col-1  { flex-basis: 8.33%; }
    .col-2  { flex-basis: 16.66%; }
    .col-3  { flex-basis: 25%; }
    .col-4  { flex-basis: 33.33%; }
    .col-5  { flex-basis: 41.66%; }
    .col-6  { flex-basis: 50%; }
    .col-7  { flex-basis: 58.33%; }
    .col-8  { flex-basis: 66.66%; }
    .col-9  { flex-basis: 75%; }
    .col-10 { flex-basis: 83.33%; }
    .col-11 { flex-basis: 91.66%; }
    .col-12 { flex-basis: 100%; }

    #about {
        flex-wrap: nowrap;
    }

    #about .left-pane {
        margin-right: 30px;
    }

    .text-align {
        text-align: right;
    }

    #projects .below, #project-details .below {
        display: none;
    }

    #projects div.project:nth-child(1) {
        margin-top: 40px!important;
    }
}

@media screen and (max-width: 934px) {

    :root {
       --nav-height: 120px;
       /* --section-margin: max(35px, min(50px, calc(10vw / 2 + 5px))); */
    }

    [class*=col-] {
        flex-basis: 100%;
    }

    nav h1 {
        line-height: 35px;
        vertical-align: top;
    }

    .skill {
        max-width: 400px;
        min-width: 200px;
    }

    #projects-filter {
        flex-direction: column;
    }

    .left-pane, .about-info p:first-of-type {
        text-align: center;
    }

    #projects .project {
        margin-top: min(80px, max(80px, 10vw));
    }

    .project-img {
        margin-top: 30px;
    }

    .project-info {
        padding-right: 0 !important;
    }

    .text-align {
        text-align: left;
    }

    nav .name {
        justify-content: center;
    }

    nav h1 {
        margin-left: 0 !important;
        position: relative;
        top: 10px;
    }

    .about-info p:first-of-type {
        margin-top: 16px !important;
    }

    #projects .on-the-right, #project-details .on-the-right {
        display: none;
    }

    #projects div.project:nth-child(1) {
        margin-top: 30px!important;
    }

    .footer-icons {
        width: 15vw;
    }
    
}

@media screen and (max-width: 485px) {

    :root {
       --nav-height: 24vw;
       --nav-margin: 10vw;
       --container-padding: 7vw;
    }

    body {
        font-size: 3.2vw;
    }

    nav h1 a {
        font-size: 7.2vw;
    }

    .nav-item {
        font-size: 4vw;
    }

    #about {
        margin-left: calc(var(--container-margin) + 5vw);
        margin-right: calc(var(--container-margin) + 5vw);
    }

    #projects-filter input {
        margin-bottom: 1.8vw;
        vertical-align: middle;
    }

    #news-search-icon {
        top: 11px;
    }

    .news-icon {
        top: 1vw;
    }

    .footer-icons {
        width: 18vw;
    }
}